<!DOCTYPE html>
<head>
<title>Todo App</title>
</head>
<body>
<div class="todo-container">
<h2>To-Do List</h2>
<a href="/done" class="done">Done</a>
<a href="/all" class="all">All</a>
<a href="/jsonView" class="download">JSON</a>
<div class="todo">
<form action="/" method="POST" class="todo-header">
<input type="text" name="content">
<button type="submit">Add</span></button>
</form>
<ul class="todo-list">
    <% todoTasks.forEach(details => { %>
    <li class="todo-list-item">
    <div class="todo-list-item-name"><%= details.content %></div>
    <a href="/update/<%= details._id %>" class="complete"> Tick</span>
    </a>
    <a href="/edit/<%= details._id %>" class="edit">Rewrite
    </a>
    <a href="/remove/<%= details._id %>" class="remove">
    Delete</span>
    </a>
    </li>
    <% }) %>
    </ul>
</div>
</div>
</body>