<!DOCTYPE html>
<head>
<title>Todo App</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
<div class="todo-container">
<h2>To-Do List</h2>
<a href="/done" class="done">Done</a>
<a href="/" class="all">All</a>
<a href="/jsonView" class="download">JSON</a>
<div class="todo">
<form action="/" method="POST" class="todo-header">
<input type="text" name="content">
<button type="submit"><span class="fas fa-plus"></span></button>
</form>
<ul class="todo-list">
    <% todoTasks.forEach(details => { %>
    <li class="todo-list-item">
    <div class="todo-list-item-name"><%= details.content %></div>
    <a href="/update/<%= details._id %>" class="complete"> <span class="fas fa-check"></span>
    </a>
    <a href="/edit/<%= details._id %>" class="edit">
    <span class="fas fa-edit"></span>
    </a>
    <a href="/remove/<%= details._id %>" class="remove">
    <span class="fas fa-times"></span>
    </a>
    </li>
    <% }) %>
    </ul>
</div>
</div>
</body>